<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/styles.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Blinkit Clone</title>
</head>

<body>
<!-- Navbar Container -->
<nav style="display: flex; align-items: center; justify-content: space-between; padding: 15px 25px; background: white;">
  <!-- Blinkit Logo (Bigger Font) -->
  <div style="font-size: 40px; font-weight: bold; color: #ffcc00;">blinkit</div>

  <!-- Delivery and Location Dropdown -->
  <div style="margin-left: 20px; font-size: 18px;">
      <span style="font-weight: bold;">Delivery in 10 minutes</span><br>
      <select style="border: none; background: transparent; font-size: 14px; cursor: pointer;">
          <option>B62, Pocket B, South City I, Sect...</option>
      </select>
  </div>

  <!-- Search Bar -->
  <div style="display: flex; align-items: center; background: #f5f5f5; border-radius: 8px; padding: 8px; width: 400px;">
      <button style="border: none; background: transparent; cursor: pointer; font-size: 22px; padding: 5px;">🔍</button>
      <input type="text" placeholder='Search "chocolate"' style="flex: 1; padding: 10px; border: none; outline: none; background: transparent; font-size: 18px;">
      <button onclick="togglePopup()" style="border: none; background: transparent; cursor: pointer; font-size: 22px; padding: 5px;">📷</button>
  </div>

  <!-- Camera Options Popup -->
  <div id="cameraPopup" style="display: none; position: absolute; top: 75px; right: 200px; background: white; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); border-radius: 8px; padding: 12px; z-index: 1000;">
      <button onclick="takePhoto()" style="display: block; width: 100%; padding: 10px; border: none; background: white; cursor: pointer; font-size: 18px; text-align: left;">📸 Take Photo</button>
      <button onclick="document.getElementById('uploadInput').click()" style="display: block; width: 100%; padding: 10px; border: none; background: white; cursor: pointer; font-size: 18px; text-align: left;">📂 Upload Photo</button>
  </div>

  <!-- Hidden File Input -->
  <input type="file" id="uploadInput" style="display: none;" accept="image/*">

  <!-- Login & Cart -->
  <div style="display: flex; align-items: center; margin-left: 25px;">
      <a href="#" style="margin-right: 20px; text-decoration: none; color: black; font-size: 24px; margin-right:70px ;" onclick="window.location.href='login.html'">Login</a>
      <button style="background-color: green; color: white; padding: 12px 20px; border: none; border-radius: 8px; display: flex; align-items: center; font-size: 18px;"onclick="window.location.href='cart.html'">
          🛒 My Cart
      </button>
  </div>
</nav> 

<script>
  function togglePopup() {
      let popup = document.getElementById("cameraPopup");
      popup.style.display = (popup.style.display === "block") ? "none" : "block";
  }

  function takePhoto() {
      alert("Camera functionality will be implemented here!");
  }
</script>


  <!-- Hero 1 Section -->
  <div class="hero-1">
    <img
      src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=1440/layout-engine/2022-05/Group-33704.jpg"
      alt="paan corner banner" width="1280" height="234.8623853211009" loading="eager"
      style="border-radius: 0px; object-fit: fill; cursor: default" />
  </div>

  <!-- Hero 2 Section -->
  <div class="my-container hero-2">
    <div class="list">
      <div>
        <img
          src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=360/layout-engine/2023-03/Pet-Care_WEB.jpg"
          alt="masthead_web_pet_care" width="335.40000000000003" height="195" loading="lazy"
          style="border-radius: 16px; object-fit: fill; cursor: default" />
      </div>
      <div>
        <img
          src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=360/layout-engine/2023-03/summer_WEB.jpg"
          alt="masthead_web_summer" width="335.40000000000003" height="195" loading="lazy"
          style="border-radius: 16px; object-fit: fill; cursor: default" />
      </div>
      <div>
        <img
          src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=360/layout-engine/2023-03/electronic-WEB-1.jpg"
          alt="masthead_web_electronic_store" width="335.40000000000003" height="195" loading="lazy"
          style="border-radius: 16px; object-fit: fill; cursor: default" />
      </div>
      <div>
        <img
          src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=720/layout-engine/2022-09/Tea-RN.jpg"
          alt="pb_evening_chai_and_snacks_time" width="335.40000000000003" height="195" loading="lazy"
          style="border-radius: 16px; object-fit: fill; cursor: default" />
      </div>
      <div>
        <img
          src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=720/layout-engine/2023-03/mango-WEB-1.png"
          alt="masthead_web_mango" width="335.40000000000003" height="195" loading="lazy"
          style="border-radius: 16px; object-fit: fill; cursor: default" />
      </div>
      <div>
        <img
          src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=720/layout-engine/2023-03/pharmacy-WEB.jpg"
          alt="masthead_web_pharma" width="335.40000000000003" height="195" loading="lazy"
          style="border-radius: 16px; object-fit: fill; cursor: default" />
      </div>
      <div>
        <img
          src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=720/layout-engine/2023-03/staples-WEB.jpg"
          alt="masthead_web_atta_rice_&amp;_dal" width="335.40000000000003" height="195" loading="lazy"
          style="border-radius: 16px; object-fit: fill; cursor: default" />
      </div>
      <div>
        <img
          src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=720/layout-engine/2023-03/babycare-WEB.jpg"
          alt="masthead_web_baby_care" width="335.40000000000003" height="195" loading="lazy"
          style="border-radius: 16px; object-fit: fill; cursor: default" />
      </div>
    </div>
  </div>

  <!-- Catagory Section -->
  <div class="my-catagory">
    <div class="catagory-card">
      <img
        src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=135/layout-engine/2022-12/paan-corner_web.png"
        alt="1 - Paan Corner" width="128" height="188.23529411764704" loading="lazy"
        style="border-radius: 0px; object-fit: fill; cursor: default" />
    </div>
    <div class="catagory-card">
      <img
        src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=135/layout-engine/2022-11/Slice-2_10.png"
        alt="2 - Dairy, Bread &amp; Eggs" width="128" height="188.23529411764704" loading="lazy"
        style="border-radius: 0px; object-fit: fill; cursor: default" />
    </div>
    <div class="catagory-card">
      <img
        src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=135/layout-engine/2022-11/Slice-3_9.png"
        alt="3 - Fruits &amp; Vegetables" width="128" height="188.23529411764704" loading="lazy"
        style="border-radius: 0px; object-fit: fill; cursor: default" />
    </div>
    <div class="catagory-card">
      <img
        src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=135/layout-engine/2022-11/Slice-4_9.png"
        alt="4 - Cold Drinks &amp; Juices " width="128" height="188.23529411764704" loading="lazy"
        style="border-radius: 0px; object-fit: fill; cursor: default" />
    </div>
    <div class="catagory-card">
      <img
        src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=135/layout-engine/2022-11/Slice-5_4.png"
        alt="5 - Snacks &amp; Munchies " width="128" height="188.23529411764704" loading="lazy"
        style="border-radius: 0px; object-fit: fill; cursor: default" />
    </div>
    <div class="catagory-card">
      <img
        src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=135/layout-engine/2022-11/Slice-6_5.png"
        alt="6 - Breakfast &amp; Instant Food" width="128" height="188.23529411764704" loading="lazy"
        style="border-radius: 0px; object-fit: fill; cursor: default" />
    </div>
    <div class="catagory-card">
      <img
        src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=135/layout-engine/2022-11/Slice-7_3.png"
        alt="7 - Sweet Tooth" width="128" height="188.23529411764704" loading="lazy"
        style="border-radius: 0px; object-fit: fill; cursor: default" />
    </div>
    <div class="catagory-card">
      <img
        src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=135/layout-engine/2022-11/Slice-8_4.png"
        alt="8 - Bakery &amp; Biscuits" width="128" height="188.23529411764704" loading="lazy"
        style="border-radius: 0px; object-fit: fill; cursor: default" />
    </div>
    <div class="catagory-card">
      <img
        src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=270/layout-engine/2022-11/Slice-9_3.png"
        alt="9 - Tea, Coffee &amp; Health Drink " width="128" height="188.23529411764704" loading="lazy"
        style="border-radius: 0px; object-fit: fill; cursor: default" />
    </div>
    <div class="catagory-card">
      <img
        src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=270/layout-engine/2022-11/Slice-10.png"
        alt="10 - Atta, Rice &amp; Dal" width="128" height="188.23529411764704" loading="lazy"
        style="border-radius: 0px; object-fit: fill; cursor: default" />
    </div>
    <div class="catagory-card">
      <img
        src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=135/layout-engine/2022-11/Slice-11.png"
        alt="11 - Masala, Oil &amp; More " width="128" height="188.23529411764704" loading="lazy"
        style="border-radius: 0px; object-fit: fill; cursor: default" />
    </div>
    <div class="catagory-card">
      <img
        src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=135/layout-engine/2022-11/Slice-12.png"
        alt="12 - Sauces &amp; Spreads" width="128" height="188.23529411764704" loading="lazy"
        style="border-radius: 0px; object-fit: fill; cursor: default" />
    </div>
    <div class="catagory-card">
      <img
        src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=135/layout-engine/2022-11/Slice-13.png"
        alt="13 - Chicken, Meat &amp; Fish " width="128" height="188.23529411764704" loading="lazy"
        style="border-radius: 0px; object-fit: fill; cursor: default" />
    </div>
    <div class="catagory-card">
      <img
        src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=135/layout-engine/2022-11/Slice-14.png"
        alt="14 - Organic &amp; Healthy Living" width="128" height="188.23529411764704" loading="lazy"
        style="border-radius: 0px; object-fit: fill; cursor: default" />
    </div>
    <div class="catagory-card">
      <img
        src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=135/layout-engine/2022-11/Slice-15.png"
        alt="15 - Baby Care" width="128" height="188.23529411764704" loading="lazy"
        style="border-radius: 0px; object-fit: fill; cursor: default" />
    </div>
    <div class="catagory-card">
      <img
        src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=135/layout-engine/2022-11/Slice-16.png"
        alt="16 - Pharma &amp; Wellness" width="128" height="188.23529411764704" loading="lazy"
        style="border-radius: 0px; object-fit: fill; cursor: default" />
    </div>
    <div class="catagory-card">
      <img
        src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=135/layout-engine/2022-11/Slice-17.png"
        alt="17 - Clening Essentials" width="128" height="188.23529411764704" loading="lazy"
        style="border-radius: 0px; object-fit: fill; cursor: default" />
    </div>
    <div class="catagory-card">
      <img
        src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=135/layout-engine/2022-11/Slice-18.png"
        alt="18 - Home &amp; Office " width="128" height="188.23529411764704" loading="lazy"
        style="border-radius: 0px; object-fit: fill; cursor: default" />
    </div>
    <div class="catagory-card">
      <img
        src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=270/layout-engine/2022-11/Slice-19.png"
        alt="19 - Personal Care" width="128" height="188.23529411764704" loading="lazy"
        style="border-radius: 0px; object-fit: fill; cursor: default" />
    </div>
    <div class="catagory-card">
      <img
        src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=270/layout-engine/2022-11/Slice-20.png"
        alt="20 - Pet Care" width="128" height="188.23529411764704" loading="lazy"
        style="border-radius: 0px; object-fit: fill; cursor: default" />
    </div>
  </div>

  <!-- Detailed Catagory Section -->
  <div class="catagories mt-3">
    <div class="catagory-row">
      <div class="title-row">
        <h3 class="Catagory-title py-3">Dairy, Bread & Eggs</h3>
        <h5 class="Catagory-see-all text-success">see all</h5>
      </div>
      <div class="card-row wrapper py-2">
        <!-- <i class="fa-solid fa-angle-left"></i> -->
        <div class="carousel">
          <div class="card">
            <img
              src="../static/img/Kinder Joy.jpg"
              alt="Kinder Joy" width="140" height="140" loading="lazy"
              style="border-radius: 0px; object-fit: fill; cursor: default" />
            <div class="time-taken">
              <i class="fa-regular fa-clock"></i>
              13mins
            </div>
            <div class="product-name">Kinder Joy</div>
            <p class="product-weight">500 ml</p>
            <div class="row">
              <p class="price col-md-4">&#8377;114 <br /><s class="text-muted"></s></p>
              <button class="add-btn col-md-4" onclick="redirectToProduct(this)">ADD</button>
            </div>
          </div>
          <div class="card">
            <img
              src="../static/img/BruCoffee.jpeg"
              alt="Amul Pure Milk Cheese Slices" width="140" height="140" loading="lazy"
              style="border-radius: 0px; object-fit: fill; cursor: default" />
            <div class="time-taken">
              <i class="fa-regular fa-clock"></i>
              13mins
            </div>
            <p class="product-name">Bru Coffee</p>
            <p class="product-weight">200 g</p>
            <div class="row">
              <p class="price col-md-4">
                &#8377;437 <br /><s class="text-muted"></s>
              </p>
              <button class="add-btn col-md-4" onclick="redirectToProduct(this)">ADD</button>
            </div>
          </div>
          <div class="card">
            <img
              src="../static/img/Lays.jpg"  
              alt="Lays Chips 90g" width="140" height="140" loading="lazy"
              style="border-radius: 0px; object-fit: fill; cursor: default" />
            <div class="time-taken">
              <i class="fa-regular fa-clock"></i>
              13mins
            </div>
            <p class="product-name">Lay’s Potato Chips 90g</p>
            <p class="product-weight">200 g</p>
            <div class="row">
              <p class="price col-md-4">&#8377; 418</p>
              <button class="add-btn col-md-4" onclick="redirectToProduct(this)">ADD</button>
            </div>
          </div>
          <div class="card">
            <img
              src="../static/img/AmulDoodh.jpeg"
              alt="Amul Salted Butter" width="140" height="140" loading="lazy"
              style="border-radius: 0px; object-fit: fill; cursor: default;">
            <div class="time-taken">
              <i class="fa-regular fa-clock"></i>
              13mins
            </div>
            <p class="product-name">Amul Milk 1L</p>
            <p class="product-weight">500 g</p>
            <div class="row">
              <p class="price col-md-4">&#8377; 
                66</p>
              <button class="add-btn col-md-4" onclick="redirectToProduct(this)">ADD</button>
            </div>
          </div>
          <div class="card">
            <img
              src="../static/img/nestlecoffee.jpg"
              alt="nestlecoffee" width="140" height="140" loading="lazy"
              style="border-radius: 0px; object-fit: fill; cursor: default;">
            <div class="time-taken">
              <i class="fa-regular fa-clock"></i>
              13mins
            </div>
            <p class="product-name">Nestle Coffee 200g</p>
            <p class="product-weight">200g</p>
            <div class="row">
              <p class="price col-md-4">&#8377;487 <br /><s class="text-muted"></s></p>
              <button class="add-btn col-md-4" onclick="redirectToProduct(this)">ADD</button>
            </div>
          </div>
          <div class="card">
            <img
              src="../static/img/silk.jpg"
              alt="Britannia Brown Bread" width="140" height="140" loading="lazy"
              style="border-radius: 0px; object-fit: fill; cursor: default;">
            <div class="time-taken">
              <i class="fa-regular fa-clock"></i>
              13mins
            </div>  
            <p class="product-name">Cadbury Silk</p>
            <p class="product-weight">50 g</p>
            <div class="row">
              <p class="price col-md-4">&#8377;180<br /><s class="text-muted"></s></p>
              <button class="add-btn col-md-4" onclick="redirectToProduct(this)">ADD</button>
            </div>
          </div>
           <div class="card">
              <img
                src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=135/app/images/products/sliding_image/19512a.jpg?ts=1647923044"
                alt="Amul Taaza Toned Fresh Milk"
                width="140"
                height="140"
                loading="lazy"
                style="border-radius: 0px; object-fit: fill; cursor: default"
              />
              <div class="time-taken">
                <i class="fa-regular fa-clock"></i>
                13mins
              </div>
              <p class="product-name">Amul Taza Toned Fresh Milk</p>
              <p class="product-weight">500 ml</p>
              <div class="row">
                <p class="price col-md-4">&#8377;27 <br /><s class="text-muted"></s></p>
                <button class="add-btn col-md-4" onclick="window.location.href='product.html';">ADD</button>
              </div>
            </div>
            <div class="card">
              <img
                src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=135/app/images/products/sliding_image/19512a.jpg?ts=1647923044"
                alt="Amul Taaza Toned Fresh Milk"
                width="140"
                height="140"
                loading="lazy"
                style="border-radius: 0px; object-fit: fill; cursor: default"
              />
              <div class="time-taken">
                <i class="fa-regular fa-clock"></i>
                13mins
              </div>
              <p class="product-name">Amul Taza Toned Fresh Milk</p>
              <p class="product-weight">500 ml</p>
              <div class="row">
                <p class="price col-md-4">&#8377;27 <br /><s class="text-muted"></s></p>
                <button class="add-btn col-md-4" onclick="window.location.href='product.html';">ADD</button>
              </div>
            </div>
            <div class="card">
              <img
                src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=135/app/images/products/sliding_image/19512a.jpg?ts=1647923044"
                alt="Amul Taaza Toned Fresh Milk"
                width="140"
                height="140"
                loading="lazy"
                style="border-radius: 0px; object-fit: fill; cursor: default"
              />
              <div class="time-taken">
                <i class="fa-regular fa-clock"></i>
                13mins
              </div>
              <p class="product-name">Amul Taza Toned Fresh Milk</p>
              <p class="product-weight">500 ml</p>
              <div class="row">
                <p class="price col-md-4">&#8377;27 <br /><s class="text-muted"></s></p>
                <button class="add-btn col-md-4" onclick="window.location.href='product.html';">ADD</button>
              </div>
            </div> 
        </div>
        <i class="fa-solid fa-angle-right"></i>
      </div>
    </div>

      <div class="card-row wrapper py-2">
        <!-- <i class="fa-solid fa-angle-left"></i> -->
        <div class="carousel">
          <div class="card">
            <img
              src="../static/img/lifebuoy.jpg"
              alt="Haldiram's Soya Sticks Namkeen" width="140" height="140" loading="lazy"
              style="border-radius: 0px; object-fit: fill; cursor: default;">
            <div class="time-taken">
              <i class="fa-regular fa-clock"></i>
              17mins
            </div>
            <p class="product-name">Lifebuoy Handwash 250ml</p>
            <p class="product-weight">250 g</p>
            <div class="row">
              <p class="price col-md-4">&#8377;128</p>
              <button class="add-btn col-md-4" onclick="redirectToProduct(this)">ADD</button>
            </div>
          </div>
          <div class="card">
            <img
              src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=270/app/images/products/sliding_image/381071a.jpg?ts=1668156784"
              alt="Doritos Cheese Nachos - Pack of 2" width="140" height="140" loading="lazy"
              style="border-radius: 0px; object-fit: fill; cursor: default;">
            <div class="time-taken">
              <i class="fa-regular fa-clock"></i>
              17mins
            </div>
            <p class="product-name">Doritos Cheese Nachos</p>
            <p class="product-weight">2 x 82.5g</p>
            <div class="row">
              <p class="price col-md-4">&#8377;100 <br /><s class="text-muted"></s></p>
              <button class="add-btn col-md-4" onclick="redirectToProduct(this)">ADD</button>
            </div>
          </div>
          <div class="card">
            <img
              src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=270/app/images/products/sliding_image/474383a.jpg"
              alt="Mr. Makhana Pickle Tickle Makhana" width="140" height="140" loading="lazy"
              style="border-radius: 0px; object-fit: fill; cursor: default;">
            <div class="time-taken">
              <i class="fa-regular fa-clock"></i>
              17mins
            </div>
            <p class="product-name">Mr. Makhana Pickle Tickle Makhana</p>
            <p class="product-weight">25 g</p>
            <div class="row">
              <p class="price col-md-4">&#8377;38 <br /><s class="text-muted"></s></p>
              <button class="add-btn col-md-4" onclick="redirectToProduct(this)">ADD</button>
            </div>
          </div>
          <div class="card">
            <img
              src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=270/app/images/products/sliding_image/240092a.jpg?ts=1687324818"
              alt="Lay's India's Magic Masala Chips (40 g)" width="140" height="140" loading="lazy"
              style="border-radius: 0px; object-fit: fill; cursor: default;">
            <div class="time-taken">
              <i class="fa-regular fa-clock"></i>
              17mins
            </div>
            <p class="product-name">Lay's India's Magic Masala Chips (40 g)</p>
            <p class="product-weight">200 g</p>
            <div class="row">
              <p class="price col-md-4">&#8377;72</p>
              <button class="add-btn col-md-4" onclick="redirectToProduct(this)">ADD</button>
            </div>
          </div>
          <div class="card">
            <img
              src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=270/app/images/products/sliding_image/372138a.jpg?ts=1687616753"
              alt="Chheda's Farsan Mixture Namkeen" width="140" height="140" loading="lazy"
              style="border-radius: 0px; object-fit: fill; cursor: default;">
            <div class="time-taken">
              <i class="fa-regular fa-clock"></i>
              17mins
            </div>
            <p class="product-name">Chheda's Farsan Mixture Namkeen</p>
            <p class="product-weight">190 g</p>
            <div class="row">
              <p class="price col-md-4">&#8377;72</s></p>
              <button class="add-btn col-md-4" onclick="redirectToProduct(this)">ADD</button>
            </div>
          </div>
          <div class="card">
            <img
              src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=270/app/images/products/sliding_image/138835a.jpg?ts=1590758401"
              alt="Lijjat Plain Urad Papad" width="140" height="140" loading="lazy"
              style="border-radius: 0px; object-fit: fill; cursor: default;">
            <div class="time-taken">
              <i class="fa-regular fa-clock"></i>
              17mins
            </div>
            <p class="product-name">Lijjat Plain Urad Papad</p>
            <p class="product-weight">200 g</p>
            <div class="row">
              <p class="price col-md-4">&#8377;72</s></p>
              <button class="add-btn col-md-4" onclick="redirectToProduct(this)">ADD</button>
            </div>
          </div>
          <div class="card">
            <img
              src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=270/app/images/products/sliding_image/54056a.jpg?ts=1687525097"
              alt="Act II Golden Sizzle Popcorn (Pressure Cooker)" width="140" height="140" loading="lazy"
              style="border-radius: 0px; object-fit: fill; cursor: default;">
            <div class="time-taken">
              <i class="fa-regular fa-clock"></i>
              17mins
            </div>
            <p class="product-name">ACT II Golden Sizzle Popcorn</p>
            <p class="product-weight">30 g</p>
            <div class="row">
              <p class="price col-md-4">&#8377;10</p>
              <button class="add-btn col-md-4" onclick="redirectToProduct(this)">ADD</button>
            </div>
          </div>
          <!-- <div class="card">
              <img
                src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=135/app/images/products/sliding_image/19512a.jpg?ts=1647923044"
                alt="Amul Taaza Toned Fresh Milk"
                width="140"
                height="140"
                loading="lazy"
                style="border-radius: 0px; object-fit: fill; cursor: default"
              />
              <div class="time-taken">
                <i class="fa-regular fa-clock"></i>
                13mins
              </div>
              <p class="product-name">Amul Taza Toned Fresh Milk</p>
              <p class="product-weight">500 ml</p>
              <div class="row">
                <p class="price col-md-4">&#8377;27 <br /><s class="text-muted">&#8377;99</s></p>
                <button class="add-btn col-md-4" onclick="window.location.href='product.html';">ADD</button>
              </div>
            </div> -->
          <!-- <div class="card">
              <img
                src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=135/app/images/products/sliding_image/19512a.jpg?ts=1647923044"
                alt="Amul Taaza Toned Fresh Milk"
                width="140"
                height="140"
                loading="lazy"
                style="border-radius: 0px; object-fit: fill; cursor: default"
              />
              <div class="time-taken">
                <i class="fa-regular fa-clock"></i>
                13mins
              </div>
              <p class="product-name">Amul Taza Toned Fresh Milk</p>
              <p class="product-weight">500 ml</p>
              <div class="row">
                <p class="price col-md-4">&#8377;27 <br /><s class="text-muted">&#8377;99</s></p>
                <button class="add-btn col-md-4" onclick="window.location.href='product.html';">ADD</button>
              </div>
            </div> -->
        </div>
        <i class="fa-solid fa-angle-right"></i>
      </div>
    </div>
  </div>

  <!-- footer -->
  <div class="responsive-dive">
    <div class="footer">
      <div class="footer-row-titile">
        <h3 class="footer-Catagory-title-u py-3 fs-5">Useful links</h3>
        <div class="footer-catagory">
          <h3 class="footer-Catagory-title py-3 fs-5">Catagories</h3>
          <h5 class="footer-Catagory-see-all text-success"><a href="#" class="text-success">see all</a></h5>
        </div>
      </div>
      <div class="row-1">
        <div class="col-1">
          <ul class="list">
            <li><a href="#">About</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Lead</a></li>
            <li><a href="#">Value</a></li>
          </ul>
          <ul class="list">
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">FAQ's</a></li>
            <li><a href="#">Security</a></li>
            <li><a href="#">Mobile</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <ul class="list">
            <li><a href="#">Partner</a></li>
            <li><a href="#">Express</a></li>
            <li><a href="#">Seller</a></li>
            <li><a href="#">Spotlight</a></li>
            <li><a href="#">Warehouse</a></li>
            <li><a href="#">Deliver</a></li>
          </ul>
        </div>
        <div class="col-2">
          <ul class="list">
            <li><a href="#">Vegetables & Fruits</a></li>
            <li><a href="#">Cold Drinks & Juices</a></li>
            <li><a href="#">Bakery & Biscuits</a></li>
            <li><a href="#">Dry Fruits, Masala & Oil</a></li>
            <li><a href="#">Organic & Premium</a></li>
            <li><a href="#">Pharma & Wellness</a></li>
            <li><a href="#">Personal Care</a></li>
            <li><a href="#">Beauty & Cosmetics</a></li>
          </ul>
          <ul class="list">
            <li><a href="#">Dairy & Breakfast</a></li>
            <li><a href="#">Instant & Frozen Food</a></li>
            <li><a href="#">Sauces & Spreads</a></li>
            <li><a href="#">Paan Corner</a></li>
            <li><a href="#">Cleaning Essentials</a></li>
            <li><a href="#">Ice Creams & Frozen Desserts</a></li>
            <li><a href="#">Toys & Games</a></li>
          </ul>
          <ul class="list">
            <li><a href="#">Munchies</a></li>
            <li><a href="#">Tea, Coffee & Health Drinks</a></li>
            <li><a href="#">Atta, Rice & Dal</a></li>
            <li><a href="#">Chicken, Meat & Fish</a></li>
            <li><a href="#">Baby Care</a></li>
            <li><a href="#">Home & Office</a></li>
            <li><a href="#">Pet Care</a></li>
            <li><a href="#">Print Store</a></li>
          </ul>
        </div>
      </div>

      <div class="row-2">
        <div class="copy-right-text">
          © Blink Commerce Private Limited (formerly known as Grofers India Private Limited), 2016-2023
        </div>
        <div class="download-img">
          <div class="text">
            Download App
          </div>
          <div class="app-img">
            <a href="#"><img src="https://www.gov.br/pt-br/imagens-de-servicos/apple.png/@@images/image" loading="lazy"
                style="border-radius: 0px; object-fit: fill; cursor: default; width: 130px;"></a>
            <a href="#"><img
                src="https://www.freepnglogos.com/uploads/play-store-logo-png/play-store-logo-nisi-filters-australia-11.png"
                style="border-radius: 0px; object-fit: fill; cursor: default; width: 130px;"></a>
          </div>
        </div>
        <div class="Social-icons">
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
      <div class="row-3">
        <p>“Blinkit” is owned &amp; managed by "Blink Commerce Private Limited" (formerly known as Grofers India Private
          Limited) and is not related, linked or interconnected in whatsoever manner or nature, to “GROFFR.COM” which is
          a real estate services business operated by “Redstone Consultancy Services Private Limited”.</p>
      </div>
    </div>
    <div class="responsive-img">
      <img class="tw-transition-opacity tw-h-full tw-w-full tw-opacity-100" width="100%"
        src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=450/layout-engine/2023-01/Bottom-01-1.png"
        data-pf="reset">
      <span style="padding-inline: 20px; font-size: 16px; font-weight: 600;">India's last minute app - blinkit</span>
    </div>
  </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    <script>

    window.redirectToProduct = function (button) {
      let card = button.closest(".card");
  
      if (!card) {
          alert("Error: Unable to find product details.");
          return;
      }
  
      let productName = card.querySelector(".product-name")?.innerText.trim() || "Unknown";
      let productWeight = card.querySelector(".product-weight")?.innerText.trim() || "N/A";
      let productPrice = card.querySelector(".price")?.innerText.trim() || "N/A";
      let productImage = card.querySelector("img")?.src || ""; // Get full URL
  
      // Encode URL parameters properly
      let url = `product.html?name=${encodeURIComponent(productName)}&weight=${encodeURIComponent(productWeight)}&price=${encodeURIComponent(productPrice)}&image=${encodeURIComponent(productImage)}`;
  
      // Redirect to product.html with data
      window.location.href = url;
  };
  
  </script>    
</body>

</html>